<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
    <link rel="stylesheet" th:href="@{/styles/people/index.css}">
</head>
<body>
    <div th:each="person : ${people}">
        <a th:href="@{/people/{id}(id = ${person.getId()})}"
            th:text="${person.getFullName()} + ','
            + ${#dates.format(person.getDateOfBirth(), 'yyyy-MM-dd')}"
        >person</a>
    </div>
    <br/>
    <hr/>
    <a href="people/new">Добавить человека</a>
</body>
</html>